<div class="bloc2-container" [ngClass]="customClass">
  <div class="section-container" [ngClass]="{'reverse': imagePosition === 'left'}">
    <div class="text-content">
      <p class="sub-title" *ngIf="subTitle">{{ subTitle }}</p>
      <h2>{{ title }}</h2>
      <h3 *ngIf="secondT"> {{secondT}} </h3>
      <p *ngIf="description" class="description">{{ description }}</p>
      <a *ngIf="buttonText" [href]="buttonLink" class="cta-button">{{ buttonText }}</a>
    </div>
    <div class="image-content">
      <img *ngIf="imageSrc" [src]="imageSrc" alt="Section Image" class="src" />
      <img *ngIf="imageSrc1" [src]="imageSrc1" alt="Section Image" class="src1" />
      <img *ngIf="imageSrc2" [src]="imageSrc2" alt="Section Image" class="src2" />
      <img *ngIf="imageSrc3" [src]="imageSrc3" alt="Section Image" class="src3" />
    </div>

  </div>
</div>

