<footer class="footer">
  <div class="footer-content">
    <h2 class="logo">Agency</h2>

    <div class="footer-links">
      <div class="menu">
        <h3>MENU</h3>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div>
        <h3>SERVICE</h3>
        <ul>
          <li><a href="#">Design</a></li>
          <li><a href="#">Development</a></li>
          <li><a href="#">Marketing</a></li>
          <li><a href="#">See More</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-social">
      <div class="icon">
        <img src="assets/icons/facebook.png" alt="">
      </div>
      <div class="icon">
        <img src="assets/icons/twitter.png" alt="">
      </div>
      <div class="icon">
        <img src="assets/icons/instagram.png" alt="">
      </div>

    </div>
  </div>

  <div class="footer-bottom">
    <p>Copyright © 2022 Laaqiq. All Rights Reserved.</p>
    <div class="a">
      <a href="#">Terms of Use</a>
      <a href="#">Privacy Policy</a>
    </div>
  </div>
</footer>
