<div class="map-section">
  <div class="newsletter">
    <h1 >Newsletter</h1>
    <input type="email" placeholder="Your email" class="mailnews">
    <button class="btn">SUBSCRIBE</button>
  </div>
  <div class="map">
    <img src="assets/map.png" alt="" class="img1">
    <img src="assets/pin.png" alt="" class="img2">
  </div>
  <div class="form-control">
    <h3>Get In Touch</h3>
    <input type="email" placeholder="Your email" class="input">
    <select name="" id="">
      <option value="">Subject</option>
      <option value="">subject</option>
    </select>
    <input type="text" placeholder="Message" class="input">

    <button>SUBMIT NOW</button>
  </div>
</div>
