*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Epilogue', sans-serif;
}



.stats-container {
  display: flex;
  background-color: #FDF0E9;
  margin-left: 100px;

}

.services-container {
  display: flex;
  justify-content: space-between;
  background-color: #f8f3ee;
  padding: 90px;
}


.events-container {
  display: flex;
  justify-content: space-between;
  background-color: #1a1a2e;
  padding: 200px;
  gap: 20px;
  margin-top: -800px;
}

@media(max-width: 768px) {
  .stats-container {
    margin-left: 20px;
    flex-direction: column;
    align-items: center;
    margin-top: -200px;
  }

  .events-container {
    flex-direction: column;
    margin-left: -170px;
    margin-top: -3270px;

  }
}
